.App {
  text-align: center;
  justify-content: center;
}

.heading {
  font-size: 4rem;
  font-weight: bolder;
}

.column-heading {
  background-color: #282c34;
  color: white;
}

.row-selected {
  background-color: #d4ff2c;
}
